.easy {
    padding-bottom: rem(200);
    &__container {
    }

    &__title {
    }

    &__row {
        max-width: rem(996);
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        gap: rem(40);
        position: relative;
        
        @media(max-width:773px){
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__item {
    }
}
.item-easy {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    &__nuber {
        @include adaptiveClamp(margin-bottom, 20, 10);
        @include adaptiveClamp(font-size, 24, 20);
        font-weight: 600
    }

    &__img {
        @include adaptiveClamp(width, 200, 180);
        @include adaptiveClamp(margin-bottom, 20, 10);
        img {
            width: 100%;
        }
    }
    h3 {
        @include adaptiveClamp(margin-bottom, 20, 10);
    }
    p {
        max-width: rem(211);
    }
}
